.contactContainer {
  /* background-color: aqua; */
  display: flex;
  flex-direction: row;
  /* height: 100%; */
  /* width: 80%; */
  justify-content: center;
  align-items: center;
  /* margin-left: 5%;
    margin-right: 5%; */
  margin: 5%;
}

.contactSecondContainer {
  background-color: rgba(8, 8, 8, 0.226);
  margin: 5%;
  /* padding-left: 40px; */
  /* height: 70%; */
  width: 400px;
  flex: 1;
  color: aliceblue;
  justify-content: center;
  align-items: center;
}

.contactHeaderText {
  /* padding-left: 40px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactLinkContainer {
  list-style: none;
  display: flex;
  transform: scale(1);
}

.contactLinkContainer li :hover {
  transform: scale(1.1);
}

.contactLinkContainer_li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.contactLinkTitle {
  /* display: none; */
  /* opacity: 0; */
  /* padding: 0 8px; */
  margin-bottom: 5px;
}

.contactLinkContainer li:hover .contactLinkTitle {
  opacity: 1;
}
